:root {
    --darkBlue: #1433D9;
    --lightBlue: #CBD3FF;
    --pink: #FF9FD5;
    --orange: #F46113;
    --black: black; 
  }
html {
    font-family: "Raleway";
    font-weight: 800;
}
  /* dropshadow on the buttons */
header {
  width: 100vw;
  background-color: red;
  display: flex;
  justify-content: center;
}